html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Quicksand', sans-serif;
    background-color: white;
    align-items: center;
    justify-content: center;
    position: absolute;
    --border-radius: 4px;
    --color-error: #cc3333;
    --color-success: #4bb544;
    --color-primary: #8AA3A6;
    --color-primary-dark: #025E73;
    --color-secondary: #A6907C;
}

#login {
    max-width: 450px;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 450px;
    padding: 2rem;
    border-radius: var(--border-radius);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
    height: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0px 0 0 -225px;
}

#createAccount {
    max-width: 450px;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 450px;
    padding: 2rem;
    border-radius: var(--border-radius);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
    height: 650px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0px 0 0 -225px;
}

#createAccount_seller {
    max-width: 450px;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 450px;
    padding: 2rem;
    border-radius: var(--border-radius);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
    height: 650px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0px 0 0 -225px;
}

#createAccount_customer {
    max-width: 450px;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 450px;
    padding: 2rem;
    border-radius: var(--border-radius);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
    height: 650px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0px 0 0 -225px;
}

.container {
    position: relative;
}

.error {
    background-color: orangered;
    color: white;
    padding: 5px;
    margin: 5px;
}

.form--hidden {
    display: none;
}

.formMsg {
    text-align: center;
    margin-bottom: 1rem;
}

.formMsg--success {
    color: var(--color-success);
}

.formMsg--error {
    color: var(--color-error);
}

.formMsg--submit {
    font-size: 0px;
}

.formInput--error {
    color: var(--color-error);
    border-color: var(--color-error);
    border-width: 1.5px;
}

.formInput--success {
    border-color: var(--color-success);
}

.formInput--errorMsg {
    margin-top: 0.5rem;
    font-size: 0.85rem;
    color: var(--color-error);
}

.btn {
    background-color: var(--color-primary);
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--color-primary-dark);
}

.btn:active {
    transform: scale(0.98);
}

.form-text {
    text-align: center;
}

.form-link {
    color: var(--color-secondary);
    text-decoration: none;
    cursor: pointer;
}

.form-link:hover {
    text-decoration: underline;
}