html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    align-items: center;
    justify-content: center;
    position: absolute;
    --border-radius: 4px;
    --color-error: #cc3333;
    --color-success: #4bb544;
    --color-primary: #8AA3A6;
    --color-primary-light: #BFCAC4;
    --color-primary-dark: #025E73;
    --color-secondary: #D9753B;
    --color-secondary-plus: #F27289;
    background-color: whitesmoke;
}


/*CSS PER LOGIN E SIGN UP*/

#login {
    max-width: 450px;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 450px;
    padding: 2rem;
    border-radius: var(--border-radius);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
    height: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0px 0 0 -225px;
    background-color: whitesmoke;
}

#createAccount {
    max-width: 450px;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 450px;
    padding: 2rem;
    border-radius: var(--border-radius);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
    height: 650px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0px 0 0 -225px;
    background-color: whitesmoke;
}

#createAccount_seller {
    max-width: 600px;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 550px;
    padding: 2rem;
    border-radius: var(--border-radius);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
    height: 1200px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0px 0 0 -275px;
    background-color: whitesmoke;
}

#createAccount_customer {
    max-width: 450px;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 450px;
    padding: 2rem;
    border-radius: var(--border-radius);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
    height: 750px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0px 0 0 -225px;
    background-color: whitesmoke;
}

.container {
    position: relative;
}

.error {
    background-color: orangered;
    color: white;
    padding: 5px;
    margin: 5px;
}

.form--hidden {
    display: none;
}

.formMsg {
    text-align: center;
    margin-bottom: 1rem;
}

.formMsg--success {
    color: var(--color-success);
}

.formMsg--error {
    color: var(--color-error);
}

.formMsg--submit {
    font-size: 0px;
}

.formInput--error {
    color: var(--color-error);
    border-color: var(--color-error);
    border-width: 1.5px;
}

.formInput--success {
    border-color: var(--color-success);
}

.formInput--errorMsg {
    margin-top: 0.5rem;
    font-size: 0.85rem;
    color: var(--color-error);
}

.btn {
    background-color: var(--color-secondary-plus);
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--color-primary-dark);
}

.btn:active {
    transform: scale(0.98);
}

.form-text {
    text-align: center;
}

.form-link {
    color: var(--color-secondary-plus);
    text-decoration: none;
    cursor: pointer;
}

.form-link:hover {
    text-decoration: underline;
}


/*CSS PER SCHEDA CHOOSE_FILM*/

* {
    box-sizing: border-box;
}

header {
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
    background-color: var(--color-primary-dark);
}

.search {
    background-color: transparent;
    border: 2px solid white;
    padding: 0.5rem 1rem;
    border-radius: 50px;
    font-size: 1rem;
    color: white;
    font-family: inherit;
}

.search:focus {
    outline: 0;
    background-color: black;
}

.search::placeholder {
    color: white;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie-container {
    width: 300px;
    margin: 1rem;
    border-radius: 3px;
    box-shadow: 0.2px 4px 5px black;
    background-color: var(--color-secondary-plus);
    position: relative;
    overflow: hidden;
}

.movie-container img {
    width: 100%;
}

.movie-info {
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}

.movie-info h3 {
    margin-top: 0;
}

.movie-info span {
    background-color: black;
    padding: 0.5rem 1rem;
    border-radius: 3px;
    font-weight: bold;
}

.movie-info span.green {
    color: greenyellow;
}

.movie-info span.red {
    color: red;
}

.movie-info span.orange {
    color: orange;
}

.overview {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    padding: 1rem;
    max-height: 100%;
    transform: translateY(101%);
    transition: transform 0.3s ease-in;
}

.movie-container:hover .overview {
    transform: translateY(0);
}